html {
  font-size: 100%;
}

body {
  font-size: 1.6em;
}

@media (max-width: 1280px) {
  html {
    font-size: 98%;
  }
  body {
    font-size: 1.44em;
  }
}

@media (max-width: 1020px) {
  html {
    font-size: 96%;
  }
  body {
    font-size: 1.28em;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 94%;
  }
  body {
    font-size: 1.152em;
  }
}

@media (max-width: 830px) {
  html {
    font-size: 82%;
  }
  body {
    font-size: 1.024em;
  }
}

@media (max-width: 670px) {
  html {
    font-size: 74%;
  }
  body {
    font-size: 0.896em;
  }
}

@media (max-width: 622px) {
  html {
    font-size: 70%;
  }
  body {
    font-size: 0.768em;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 62%;
  }
  body {
    font-size: 0.64em;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 54%;
  }
  body {
    font-size: 0.576em;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
  body {
    font-size: 0.512em;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 45%;
  }
  body {
    font-size: 0.448em;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 41%;
  }
  body {
    font-size: 0.384em;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 36%;
  }
  body {
    font-size: 0.32em;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 34%;
  }
  body {
    font-size: 0.288em;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 32%;
  }
  body {
    font-size: 0.256em;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 30%;
  }
  body {
    font-size: 0.224em;
  }
}
