.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1875rem solid var(--color-brand-1);
  padding: 3rem 0;
  background-color: var(--color-gray-8);
  margin-bottom: 0.25rem;
  z-index: 10;
}

.header__title {
  font-weight: 600;
  font-size: 2.5rem;
}

.first-letter {
  color: var(--color-brand-1);
}

#theme-toggle {
  width: 2.75rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem 0.875rem;
  border-radius: 0.3125rem;
  background-color: var(--color-gray-6);
  border: none;
  cursor: pointer;
}
